.gallery {
  /* padding: 24px 156px; */
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; /* Перенос елементів на новий рядок */
  gap: 24px; /* Відступи між елементами */
  justify-content: center;
}
.gallery:hover {
  gap: 20px 24px;
  cursor: url("../img/bxs_hand-down.png"), pointer;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
